{% extends "base.html" %}

{% block content %}

<h2>Edit Administrator</h2>

<form method="post">

    <label>Full Name</label>

    <input
        name="full_name"
        value="{{ target.full_name }}"
    >

    <label>Email</label>

    <input
        name="email"
        value="{{ target.email }}"
    >

    <label>Role</label>

    <select name="role">

        <option
            {% if target.role=="Super Admin" %}
            selected
            {% endif %}
        >
            Super Admin
        </option>

        <option
            {% if target.role=="Staff" %}
            selected
            {% endif %}
        >
            Staff
        </option>

    </select>

    <label>

        <input
            type="checkbox"
            name="is_active"
            {% if target.is_active %}
            checked
            {% endif %}
        >

        Active

    </label>

    <button class="btn btn-primary">

        Save Changes

    </button>

</form>

{% endblock %}