{% extends "base/base_admin.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>Schools</h2>

    <a href="/schools/new" class="btn btn-primary">

        <i class="bi bi-plus-circle"></i>

        Register School

    </a>

</div>

<div class="card shadow-sm">

    <div class="card-body">

        <form method="get" class="row mb-4">

            <div class="col-md-10">

                <input
                    class="form-control"
                    type="text"
                    name="search"
                    value="{{ request.query_params.get('search','') }}"
                    placeholder="Search school..."
                >

            </div>

            <div class="col-md-2">

                <button class="btn btn-primary w-100">

                    Search

                </button>

            </div>

        </form>

        <table class="table table-hover">

            <thead>

            <tr>

                <th>Centre No.</th>

                <th>School</th>

                <th>Customer</th>

                <th>Status</th>

                <th></th>

            </tr>

            </thead>

            <tbody>

            {% for school in schools %}

            <tr>

                <td>{{ school.center_number }}</td>

                <td>{{ school.name }}</td>

                <td>{{ school.customer.full_name }}</td>

                <td>

                    {% if school.is_active %}

                        <span class="badge bg-success">

                            Active

                        </span>

                    {% else %}

                        <span class="badge bg-danger">

                            Disabled

                        </span>

                    {% endif %}

                </td>

                <td class="text-end">

                    <a
                        href="/schools/{{ school.id }}"
                        class="btn btn-outline-primary btn-sm"
                    >

                        View

                    </a>

                </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}