{% extends "base/base_public.html" %}

{% block title %}
Checkout Expired
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <div class="card shadow border-danger">

                <div class="card-header bg-danger text-white">

                    <h3>

                        Checkout Expired

                    </h3>

                </div>

                <div class="card-body text-center">

                    <i class="fas fa-clock fa-4x text-danger mb-4"></i>

                    <p>

                        This purchase session has expired.

                    </p>

                    <p>

                        Please return to the CBT software and start a new purchase.

                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}